doctype html
//[if lt IE 7]><html lang="en" class="no-js oldie lt-ie9 lt-ie8 lt-ie7"><![endif]
//[if IE 7]><html lang="en" class="no-js oldie lt-ie9 lt-ie8"><![endif]
//[if IE 8]><html lang="en" class="no-js oldie lt-ie9"><![endif]
//[if gt IE 8]><!
html
  //<![endif]
  head
    title= appName
    meta( http-equiv='content-type', content='text/html; charset=utf-8' )
    meta( name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" )
    block metaData
    link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" )
    link( rel="stylesheet" href="/pure/v1.0.0/pure.css" )
    block stylesheets
  body
    block content
    script( src = "https://www.gstatic.com/firebasejs/3.5.0/firebase.js" )
    script( src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" )
    script( src = "/cope-client/v2.0.0/cope-client.js" )
    block javascripts
