extends layout

block stylesheets
  link( rel="stylesheet" href="/stylesheets/cope-style.css" )

block content
  #page
             
block javascripts
  script( src = "https://d3js.org/d3.v4.min.js" )
  script( src = "/javascripts/cope-views.js" )
  script( src = "/javascripts/cope-pages.js" )
  script( src = "/javascripts/cope-main.js" )
