extends layout

block stylesheets
  link( rel="stylesheet" href="/stylesheets/cope-style.css" )
  link( rel="stylesheet" href="/stylesheets/cope.css" )

block content
  #nav.cope-nav-top
  #page.cope-page
             
block javascripts
  script( src = "https://d3js.org/d3.v4.min.js" )
  script( src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js" )
  script( src = "/javascripts/cope-views.js" )
  script( src = "/javascripts/cope-pages.js" )
  script( src = "/javascripts/cope-main.js" )
