extends layout

block stylesheets
  link( rel="stylesheet" href="/stylesheets/cope-style.css" )

block content
  #page-container.purely.cope
    .nav-top
      #nav.container(style="height:100%")
    #page.page-wrap
      #dashboard.container
        .row
          .col-xs-12.col-md-4.col-md-push-8
            h4 Account
            .row
              .col-xs-12
                #account.cope-card.bg-w.wider
          .col-xs-12.col-md-8.col-md-pull-4
            h4 Apps
            .row
              #my-apps.col-xs-12
              .col-xs-12
                button#btn-add-app.cope-card.as-btn.bg-blue.color-w(style="margin: 16px 0")
                  | Add new app
      #dashboard-app.container.hidden
        .row
          #app-page.col-xs-12
             
block javascripts
  script( src = "https://d3js.org/d3.v4.min.js" )
  script( src = "/javascripts/cope-views.js" )
  script( src = "/javascripts/cope-pages.js" )
  script( src = "/javascripts/cope-main.js" )
