extends layout

block content
  #loader.bg-b.color-w(style="text-align:center; padding:10px") Beta
  #purely-container.purely.container(style="padding:0")
 
block javascripts
  script( src = "/purely/v1.0.0/js/purely-main.js" )
