extends layout

block content
  #page-container.purely.container
    .row
      .col-xs-12
        #test-bar
        #tests-nav
        #tests-container

 
block javascripts
  script( src = "javascripts/tests.js" )
