.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.wide {
  width: 100%;
  max-width: 1150px;
}
.full {
  width: 100%;
}
.squared {
  width: 140px;
  height: 140px;
}
.img-full {
  overflow: hidden;
}
.img-full img,
.img-full canvas {
  width: 100%;
}
.img-full.squared img,
.img-full.squared canvas {
  position: relative;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
}

.centered {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.float-right {
  float: right;
}

.frozen {
  overflow: hidden;
}

.hidden {
  display: none;
}

.center-cropped {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 100px;
  width: 100px;
}

.Editor-lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: #333;
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  padding: 0;
  z-index: 10000;
  overflow: scroll;
}

.Editor-lightbox .modal {
  display: table;
  position: relative;
  width: 100%;
  max-width: 540px;
  background: #fff;
  padding: 20px;
  margin: 0 auto;
  margin-top: 160px;
  margin-bottom: 50vh;
  background: #fff;
  /*background: linear-gradient(141deg, #fff 0%, #fff 51%, #fdfdfd 75%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #ccc;*/
}

.Editor-lightbox .modal label,
.Editor-lightbox .modal textarea {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 20px auto;
}

.Editor-lightbox .modal textarea {
  font-size: 1.2em;
  min-height: 24px;
  line-height: 1.5;
  padding: 4px;
  resize: none;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
}
.Editor-lightbox .modal button.final {
  float: right;
  color: #fff;
  /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8
   * 75%);*/
  background-color: #236eb6;
  font-size: 1.2em;
  padding: 14px;
  /*-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;*/
  border: 0;
}
.Editor-lightbox .modal button.final:hover {
  background-color: #2f6193;
  /*background: linear-gradient(141deg, #0fb8ad, #86dbdb 45.38%, #2cb5e8
   * 75%);*/
}
.Editor-lightbox canvas,
.Editor-lightbox img {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.Editor-lightbox .image-chooser {
  height: 50vh;
  overflow: scroll;
}
.Editor-lightbox .image-chooser .selected {
  border: 6px solid blue;
}

.Editor-lightbox .cope-account h3 {
  margin-bottom: 32px;
}
.Editor-lightbox .cope-account input {
  display: block;
  position: relative;
  width: 100%;
  margin: 16px auto;
  padding: 4px;
  font-size: 1.2em;
}

/* Purely - Layouts */
.purely {
  display: block;
  position: relative;
  width: 100%;
  min-height: 100vh;
  left: 0;
  top: 0;
}
.purely .nav-top {
  display: block;
  position: fixed;
  width: 100%;
  height: 60px;
  margin: 0;
  left: 0;
  top: 0;
  z-index: 1000;
}
.purely .page-wrap {
  display: block;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  left: 0;
  top: 0;
  margin: 0;
}
.nav-top .logo {
  display: block;
  position: absolute;
  height: 40px;
  width: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.nav-top .text.logo {
  font-size: 2em;
}

/* Cope */
.color-w {
  color: #fff;
}

.color-blue {
  color: #236eb6;
}

.color-b {
  color: #333;
}

.bg-w {
  background-color: #fff;
}

.bg-blue {
  background-color: #236eb6;
}

.nav-top {
  background: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
}

.page-wrap {
  padding-top: 100px;
  background: #efefea;
}

.logo {
  font-weight: 400;
  letter-spacing: 4px;
  color: #555;
}

.logo:hover {
  color: #333;
}

.cope-card {
  display: block;
  position: relative;
  padding: 8px;
  border: none;
  -webkit-box-shadow: 0px 4px 6px 0 rgba(0, 0, 0, .4);
  -moz-box-shadow: 0px 4px 6px 0 rgba(0, 0, 0, .4);
  box-shadow: 0px 4px 6px 0 rgba(0, 0, 0, .4);
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
}

.cope-card.wider {
  width: 100%;
  max-width: 500px;
  align-items: flex-start;
}

.cope-card.touchable {
  cursor: pointer;
}

.cope-card.as-btn {
  min-width: 86px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 32px;
}

.cope-card.touchable:hover,
.cope-card.as-btn:hover {
  -webkit-box-shadow: 0px 6px 9px 0 rgba(0, 0, 0, .4);
  -moz-box-shadow: 0px 6px 9px 0 rgba(0, 0, 0, .4);
  box-shadow: 0px 6px 9px 0 rgba(0, 0, 0, .4);
  cursor: pointer;
}

.cope-card.no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.cope-card ul {
  list-style: none;
  text-decoration: none;
  font-size: 1.2em;
  color: #333;
  padding: 0;
  margin: 0;
}

.cope-card ul li {
  padding: 8px;
}

.cope-card ul .title {
  color: #aaa;
  font-size: 0.8em;
}

/* Graph */
.svg-wrap {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

/* AppPage */
.node-data {
  position: absolute;
  top: 0px;
  right: 0px;
  width: intrinsic;
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .cope-card {
    padding: 16px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
