/* Purely - Reset */
input,
textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid #aaa;
  resize: none;
  outline: none;
}

/* Purely Default Theme */
.color-w {
  color: #fff;
}

.color-b {
  color: #333;
}

.color-blue {
  color: #236eb6;
}

.bg-w {
  background-color: #fff;
}

.bg-b {
  background-color: #333;
}

.bg-blue {
  background-color: #236eb6;
}

/* Purely - General */
.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.frozen {
  overflow: hidden;
}

.hidden {
  display: none;
}

.centered {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.squared {
  width: 140px;
  height: 140px;
}

.float-right {
  float: right;
}

.img-full {
  overflow: hidden;
}

.img-full img,
.img-full canvas {
  width: 100%;
}

.img-full.squared img,
.img-full.squared canvas {
  position: relative;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
}

.center-cropped {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 100px;
  width: 100px;
}

/* =================
 * Purely - Pages
 * ================= */

/* =================
 * Purely - Views
 * ================= */

/* Nav */
.view-nav {
  display: block;
  width: 100%;
  /*height: 2.85em;
  line-height:  2.85em;*/
  min-height: 1px;
  height: 100%;
  line-height: 100%;
  position: relative;
  padding: 10px;
  margin: 0;
  top: 0;
  left: 0;
}
.view-nav .glyphicon {
  top: 0;
}
.view-nav div,
.view-nav nav,
.view-nav ul,
.view-nav li,
.view-nav a {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
}
.view-nav ul {
  display: inline-block;
  list-style: none;
}
.view-nav ul li {
  vertical-align: top;
}
.view-nav .float-right {
  display: block;
  position: relative;
  float: right;
}
.view-nav > .logo,
.view-nav > nav {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
}
.view-nav .logo {
  font-weight: 300;
  width: auto;
  letter-spacing: 0.125em;
  cursor: pointer;
}
.view-nav li {
  display: inline-block;
  margin: 0 10px;
}
.view-nav a {
  text-decoration: none;
  margin: 0;
}
.view-nav .menu-icon {
  cursor: pointer;
}
.view-nav .remove-icon {
  right: 8px;
  cursor: pointer;
  color: #fff;
}

.view-nav .user {
  color: #333;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.view-nav .view-nav-items {
  background-color: #111;
  display: none;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  opacity: 0.94;
}
.view-nav-items li {
  display: block;
  height: 100%; /*50px;*/
  margin: 0;
  padding: 16px;
}

/* Box */
.view-box {
  position: relative;
}

/* Textarea */
/*.view-textarea {
  display: block;
  width: 100%;
  max-width: 540px;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 28px;
  overflow: hidden;
  background-color: #fff;
  padding: 0;
}*/
.view-textarea {
  height: auto;
  min-height: 30px;
  width: 100%;
  padding-left: 6px;
  overflow: hidden;
  margin: 0;
  resize: none;
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 28px;
}

/* ImageUploader*/
.view-image-uploader {
  position: relative;
  width: 100%;
  height: auto;
  line-height: 1;
  max-width: 100%;
  padding: 0;
  margin: auto;
}
.view-image-uploader .preview {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: scroll;
  z-index: 1;
  background-color: #eee;
  background-image: url('/images/upload-img.png');
  background-position: 50% 50%;
  background-size: 10%;
  background-repeat: no-repeat;
}
.view-image-uploader .control {
  display: block;
  position: relative;
  width: 100%;
  padding: 16px;
  background-color: #eee;
  z-index: 1;
}
.view-image-uploader .btn-upload {
  position: relative;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  z-index: 1;
}
.view-image-uploader .btn-upload:hover {
  color: #236eb6;
}
.view-image-uploader .upload-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 3em;
}

/* Form */
.view-form ul {
  list-style: none;
  padding: 0;
}
.view-form ul li {
  margin-bottom: 8px;
}

/* Photo */
.view-photo {

}

/* Grid */
.view-grid {

}
.view-grid .clear-margin {
  margin-left: 0;
  margin-right: 0;
}

/* Slide */
.view-slide {
  margin: 0 auto;
  background: #DADADA url('https://fakeimg.pl/980x390/DADADA/?text=NoSlide') no-repeat center center;
}
.view-slide .slide{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.view-slide .slideButton {
  position: absolute;
  top: 50%;
  font-size: 36px;
  cursor: pointer;
  padding: 10px;
  color: #CACACA;
  transform: translateY(-50%);
  z-index: 999;
}
.view-slide .slideButton.slideButtonRight {
  right: 0;
}
.view-slide .slideButton.slideButtonLeft {
  left: 0;
}
.view-slide .banner {
  /*width: 2340px;
  height: 390px;*/
  position: relative;
}
.view-slide .banner .slideItem {
  /*  width: 780px;
  height: 390px;*/
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*.view-slide .banner .slideItem.item1 {
  background-image: url("https://fakeimg.pl/600x300/282828/eae0d0/?text=Slide1");
}
.view-slide .banner .slideItem.item2 {
  background-image: url("https://fakeimg.pl/1300x390/282828/eae0d0/?text=Slide2");
}
.view-slide .banner .slideItem.item3 {
  background-image: url("https://fakeimg.pl/980x390/282828/eae0d0/?text=Slide3");
}*/

.view-slide .caption {
  box-sizing: border-box;
  /*width: 2340px;*/
}

.view-slide .caption ul {
  /*width: 2340px;*/
  list-style: none;
  position: absolute;
  margin: 0;
  padding: 0;
}
.view-slide .caption ul li {
  /*width: 780px;*/
  float: left;
  padding: 10px 10px 10px 20px;
  font-size: 20px;
  color: #DDD;
}

/* for slide mode */
.view-slide .caption.mode-slide ul{
  bottom: 40px;
}
.view-slide .caption.mode-slide ul li{
  padding: 10px 10px 10px 20px;
}

/* for center mode */
.view-slide .caption.mode-center ul{
  bottom: 50%;
  transform: translateY(50%);
}
.view-slide .caption.mode-center ul li{
  text-align: center;
  font-size: 48px;
}

.view-slide .slideNav {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 10px;
}
.view-slide .slideNav ul {
  list-style: none;
  margin: 0;
  padding: 10px 10px;
}
.view-slide .slideNav ul li {
  display: inline-block;
  color: #DDD;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.view-slide .slideNav .slideNavItem{
  background-color: rgba(128, 128, 128, 0.2);
  height: 2px;
  width: 50px;
  margin-left: 2px;
  margin-right: 2px;
  /*cursor: pointer;*/
}
.view-slide .slideNav .active .slideNavItem{
  background-color: rgba(128, 128, 128, 0.8);
}

/* Purely.Edit.Nav */
.view-purely-edit-nav {
  display: table;
  width: 100%;
}
/* Purely.Edit.Single */
.view-purely-edit-single {
  display: table;
  width: 100%;
}
.view-purely-edit-single .title {
  width: 100%;
}
.view-purely-edit-single .content {
  width: 100%;
}

/* Purely.Layout.Single*/
.view-purely-layout-single {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 15px;
}
.view-purely-layout-single .title {
  
}
.view-purely-layout-single .content {

}

.view-layout-chooser {
  width: 100%;
  height: 100%;
  margin: 0;
}
.view-layout-chooser .block {
  height: 100px;
  margin: 5px;

}



/* List Item */
.view-list-item {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  font-size: 18px;
}
.view-list-item > * {
  display: block;
  padding: 4px;
  margin: 4px;
}
.view-list-item > label {
  height: 16px;
  font-size: 14px;
  color: #aaa;
  margin-bottom: 0;
}
.view-list-item > p,
.view-list-item > input {
  margin-top: 0;
}
.view-list-item > input {
  border: none;
  outline: none;
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .cope-card {
    padding: 16px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
